importFrom ("graphics", "lines", "plot", "points")
importFrom ("stats", "uniroot")
exportPattern ("^[^\\.]")
S3method (print, kspline)
S3method (plot, kspline)
S3method (lines, kspline)
S3method (points, kspline)
S3method (solve, chs)
