importFrom ("methods", "is", "new")
importFrom ("graphics", "lines", "plot", "points")
importFrom ("stats", "uniroot")
exportPattern ("^[^\\.]")
S3method (print, KSpline)
S3method (plot, KSpline)
S3method (lines, KSpline)
S3method (points, KSpline)
S3method (kub.printf, KSpline)
S3method (kub.plotf, KSpline)
S3method (kub.linesf, KSpline)
S3method (kub.pointsf, KSpline)
S3method (solve, CHS)
