importFrom ("intoo", "EXTEND", "THAT", "object.summary")
importFrom ("graphics", "lines", "plot", "points")
importFrom ("stats", "uniroot")
exportPattern ("^[^\\.]")
S3method (print, k.spline)
S3method (plot, k.spline)
S3method (lines, k.spline)
S3method (points, k.spline)
S3method (solve, chs)
